################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/KasebCore/bin/Debug
/KasebCore/obj
/Kaseb/obj
/KasebAdServices/bin/Debug
/KasebAdServices/obj
/KasebAPI/KasebAPI/bin/Debug/net10.0
/KasebAPI/KasebAPI/obj
/KasebAPI/KasebAPI/wwwroot/images
/KasebAPI/.vs
/Kaseb/key.ketstore
/Kaseb/key.keystore
/key.keystore
/key.ketstore
/key.ketstore
/key.ketstore
