# Build results
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio
.vs/

# Backup & logs
*.log
*.tmp
*.bak

# MAUI
Platforms/Android/bin/
Platforms/Android/obj/
Platforms/iOS/bin/
Platforms/iOS/obj/
